In [1]:
import pandas as pd

/var/folders/94/kv_t201d7fb9zlp8xtzbysph0000gn/T/ipykernel_8948/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_json('100_dataset.jsonl', lines=True)
df

,id,profile,response
0,930d4186-d32c-41e5-8e1a-a80ddffd7006,John;Shepherd;jessicale;385016;6163-4832;3 Jen...,\nJohn Shepherd was a man of many talents. At ...
1,882d5208-0dd7-4a41-9886-4daa0123f105,Holly;Booth;lewismarie;989114;(0121)4960367;27...,\nHolly Booth was a young woman from Moorevill...
2,c22c0b34-838d-47fe-a786-a74d20427f80,Anthony;Snyder;warrenkarla;393010;9246-8743;71...,"\nAnthony Snyder was a man from Edwardsfort, T..."
3,16a1a489-994a-43a2-ad74-c4677f049b99,Michael;Hammond;colleenferrell;553633;137-729-...,553633 Michael Hammond is a man who works at J...
4,7575eb1f-a110-448c-afa4-30e6140b9d84,Damien;Murray;victor23;687955;(0191) 496 0898;...,687955 Damien Murray is a successful businessm...
...,...,...,...
95,344e3ca1-08fb-4f43-b545-516790b8beb0,Dara;Ledwith;susannah14;672996;+1-900-574-5565...,\n Dara Ledwith was a successful businesswo...
96,67a676d2-77bf-4bca-bf8d-803839006bca,Grant;McCloskey;guinnesscorrie;378042;227.964....,\nGrant McCloskey is a 37-year-old man from As...
97,37d675ac-4e21-498f-a5d3-2f431c8b9c19,Katherine;Nelson;mary30;651957;+44289018944;Fl...,\nKatherine Nelson was a 65-year-old woman who...
98,7f4a3b68-7d46-4273-905b-28fcd9d5b68d,Allen;Scott;gcarter;422914;263 459 9936;033 Pa...,\n Allen Scott was a 26-year-old man from R...
99,8d76c15c-ce74-43c8-80ad-0e3e466edd0c,Anna;Davis;kayla78;185421;+1-502-802-3966x0356...,\nAnna Davis was an 18 year old girl who lived...

In [3]:
df[['First Name', 'Last Name', 'ID', 'Unknown', 'Phone Number', 'Address', 'Email', 'Link']] = df['profile'].str.split(';', expand=True)

In [4]:
df1 = df.drop(columns=['id', 'profile', 'Unknown'])
df1

,response,First Name,Last Name,ID,Phone Number,Address,Email,Link
0,\nJohn Shepherd was a man of many talents. At ...,John,Shepherd,jessicale,6163-4832,"3 Jennings Mews\nOdonnellchester, NSW, 2616",dsimmons@example.org,https://instagram/en/john_shepherd/
1,\nHolly Booth was a young woman from Moorevill...,Holly,Booth,lewismarie,(0121)4960367,279 Gerard glens\nMooreville\nSG85 9TP,lauren49@example.com,https://twitter/en/holly_booth/
2,"\nAnthony Snyder was a man from Edwardsfort, T...",Anthony,Snyder,warrenkarla,9246-8743,"712 Herbert Cove\nEdwardsfort, TAS, 2385",lancestein@example.com,https://instagram/en/anthony_snyder/
3,553633 Michael Hammond is a man who works at J...,Michael,Hammond,colleenferrell,137-729-9655 x133,"038 Juan Valley\nNorth Valerie, BC M2N7M7",chapmanjoshua@example.net,https://facebook/en/michael_hammond/
4,687955 Damien Murray is a successful businessm...,Damien,Murray,victor23,(0191) 496 0898,67 Thompson ford\nBethanyview\nB0 9YH,bryan14@example.net,https://twitter/en/damien_murray/
...,...,...,...,...,...,...,...,...
95,\n Dara Ledwith was a successful businesswo...,Dara,Ledwith,susannah14,+1-900-574-5565x816,87 Duff Street X23 KAK9 Brooke Ville,marco06@example.org,https://twitter/en/dara_ledwith/
96,\nGrant McCloskey is a 37-year-old man from As...,Grant,McCloskey,guinnesscorrie,227.964.7591,05 Tiernan Street F39TF3N Ashlene Ville,quinnyseona@example.com,https://facebook/en/grant_mccloskey/
97,\nKatherine Nelson was a 65-year-old woman who...,Katherine,Nelson,mary30,+44289018944,Flat 51\nFarrell lock\nLake Ruth\nB59 1AR,blackdominic@example.net,https://twitter/en/katherine_nelson/
98,\n Allen Scott was a 26-year-old man from R...,Allen,Scott,gcarter,263 459 9936,"033 Paul Crest\nRebeccamouth, NU L8Y 2N1",nperez@example.net,https://facebook/en/allen_scott/
99,\nAnna Davis was an 18 year old girl who lived...,Anna,Davis,kayla78,+1-502-802-3966x0356,"3374 Rios Ports Suite 109\nPatrickland, MT 90692",eric48@example.com,https://facebook/en/anna_davis/

In [5]:
df1['Link'] = df['Link'].apply(lambda x: x[:-1] if x.endswith('/') else x)
df1

,response,First Name,Last Name,ID,Phone Number,Address,Email,Link
0,\nJohn Shepherd was a man of many talents. At ...,John,Shepherd,jessicale,6163-4832,"3 Jennings Mews\nOdonnellchester, NSW, 2616",dsimmons@example.org,https://instagram/en/john_shepherd
1,\nHolly Booth was a young woman from Moorevill...,Holly,Booth,lewismarie,(0121)4960367,279 Gerard glens\nMooreville\nSG85 9TP,lauren49@example.com,https://twitter/en/holly_booth
2,"\nAnthony Snyder was a man from Edwardsfort, T...",Anthony,Snyder,warrenkarla,9246-8743,"712 Herbert Cove\nEdwardsfort, TAS, 2385",lancestein@example.com,https://instagram/en/anthony_snyder
3,553633 Michael Hammond is a man who works at J...,Michael,Hammond,colleenferrell,137-729-9655 x133,"038 Juan Valley\nNorth Valerie, BC M2N7M7",chapmanjoshua@example.net,https://facebook/en/michael_hammond
4,687955 Damien Murray is a successful businessm...,Damien,Murray,victor23,(0191) 496 0898,67 Thompson ford\nBethanyview\nB0 9YH,bryan14@example.net,https://twitter/en/damien_murray
...,...,...,...,...,...,...,...,...
95,\n Dara Ledwith was a successful businesswo...,Dara,Ledwith,susannah14,+1-900-574-5565x816,87 Duff Street X23 KAK9 Brooke Ville,marco06@example.org,https://twitter/en/dara_ledwith
96,\nGrant McCloskey is a 37-year-old man from As...,Grant,McCloskey,guinnesscorrie,227.964.7591,05 Tiernan Street F39TF3N Ashlene Ville,quinnyseona@example.com,https://facebook/en/grant_mccloskey
97,\nKatherine Nelson was a 65-year-old woman who...,Katherine,Nelson,mary30,+44289018944,Flat 51\nFarrell lock\nLake Ruth\nB59 1AR,blackdominic@example.net,https://twitter/en/katherine_nelson
98,\n Allen Scott was a 26-year-old man from R...,Allen,Scott,gcarter,263 459 9936,"033 Paul Crest\nRebeccamouth, NU L8Y 2N1",nperez@example.net,https://facebook/en/allen_scott
99,\nAnna Davis was an 18 year old girl who lived...,Anna,Davis,kayla78,+1-502-802-3966x0356,"3374 Rios Ports Suite 109\nPatrickland, MT 90692",eric48@example.com,https://facebook/en/anna_davis

In [6]:
import re

def tokenize_sentence(sentence):
    tokens = re.findall(r'\b(?:[^\s@]+@[^\s@]+\.[a-zA-Z]{2,}|https?://(?:[^\s/$.?#][^\s]*)+(?:/[^/\s]*)?/?)\b|\b\w+\b|[()\[\]{}]|[^\w\s()]', sentence)
    return tokens

In [7]:
text = "This is an example text with an email@example.com and a link (http://example.com/)"

print(tokenize_sentence(text))

['This', 'is', 'an', 'example', 'text', 'with', 'an', 'email@example.com', 'and', 'a', 'link', '(', 'http://example.com', '/', ')']

In [8]:
df1['tokenized response'] = df1['response'].apply(tokenize_sentence)

In [9]:
df1

,response,First Name,Last Name,ID,Phone Number,Address,Email,Link,tokenized response
0,\nJohn Shepherd was a man of many talents. At ...,John,Shepherd,jessicale,6163-4832,"3 Jennings Mews\nOdonnellchester, NSW, 2616",dsimmons@example.org,https://instagram/en/john_shepherd,"[John, Shepherd, was, a, man, of, many, talent..."
1,\nHolly Booth was a young woman from Moorevill...,Holly,Booth,lewismarie,(0121)4960367,279 Gerard glens\nMooreville\nSG85 9TP,lauren49@example.com,https://twitter/en/holly_booth,"[Holly, Booth, was, a, young, woman, from, Moo..."
2,"\nAnthony Snyder was a man from Edwardsfort, T...",Anthony,Snyder,warrenkarla,9246-8743,"712 Herbert Cove\nEdwardsfort, TAS, 2385",lancestein@example.com,https://instagram/en/anthony_snyder,"[Anthony, Snyder, was, a, man, from, Edwardsfo..."
3,553633 Michael Hammond is a man who works at J...,Michael,Hammond,colleenferrell,137-729-9655 x133,"038 Juan Valley\nNorth Valerie, BC M2N7M7",chapmanjoshua@example.net,https://facebook/en/michael_hammond,"[553633, Michael, Hammond, is, a, man, who, wo..."
4,687955 Damien Murray is a successful businessm...,Damien,Murray,victor23,(0191) 496 0898,67 Thompson ford\nBethanyview\nB0 9YH,bryan14@example.net,https://twitter/en/damien_murray,"[687955, Damien, Murray, is, a, successful, bu..."
...,...,...,...,...,...,...,...,...,...
95,\n Dara Ledwith was a successful businesswo...,Dara,Ledwith,susannah14,+1-900-574-5565x816,87 Duff Street X23 KAK9 Brooke Ville,marco06@example.org,https://twitter/en/dara_ledwith,"[Dara, Ledwith, was, a, successful, businesswo..."
96,\nGrant McCloskey is a 37-year-old man from As...,Grant,McCloskey,guinnesscorrie,227.964.7591,05 Tiernan Street F39TF3N Ashlene Ville,quinnyseona@example.com,https://facebook/en/grant_mccloskey,"[Grant, McCloskey, is, a, 37, -, year, -, old,..."
97,\nKatherine Nelson was a 65-year-old woman who...,Katherine,Nelson,mary30,+44289018944,Flat 51\nFarrell lock\nLake Ruth\nB59 1AR,blackdominic@example.net,https://twitter/en/katherine_nelson,"[Katherine, Nelson, was, a, 65, -, year, -, ol..."
98,\n Allen Scott was a 26-year-old man from R...,Allen,Scott,gcarter,263 459 9936,"033 Paul Crest\nRebeccamouth, NU L8Y 2N1",nperez@example.net,https://facebook/en/allen_scott,"[Allen, Scott, was, a, 26, -, year, -, old, ma..."
99,\nAnna Davis was an 18 year old girl who lived...,Anna,Davis,kayla78,+1-502-802-3966x0356,"3374 Rios Ports Suite 109\nPatrickland, MT 90692",eric48@example.com,https://facebook/en/anna_davis,"[Anna, Davis, was, an, 18, year, old, girl, wh..."

In [10]:
df1.columns

Index(['response', 'First Name', 'Last Name', 'ID', 'Phone Number', 'Address',
       'Email', 'Link', 'tokenized response'],
      dtype='object')

In [11]:
def assign_labels(row):
    labels = []
    for token in row['tokenized response']:
        if row['First Name'] in token or row['First Name'] == token:
            labels.append('B-NAME_STUDENT')
        elif row['Last Name'] in token or row['Last Name'] == token:
            labels.append('I-NAME_STUDENT')
        elif row['ID'] in token or row['ID'] in token:
            labels.append('-ID_NUM')
        elif token == row['Phone Number'] or row['Phone Number'] in token:
            labels.append('B-PHONE_NUM')
        elif token == row['Email'] or row['Email'] in token:
            labels.append('B-EMAIL')
        elif token == row['Link'] or row['Link'] in token:
            labels.append('B-URL_PERSONAL')
        elif token == row['Address'].split()[0]:  # First word of address
            labels.append('B-STREET_ADDRESS')
        elif token in row['Address'].split()[1:]:  # Last words of address
            labels.append('I-STREET_ADDRESS')
        else:
            labels.append('O')
    return labels

In [12]:
df1['labels'] = df1.apply(assign_labels, axis=1)

In [13]:
df1

,response,First Name,Last Name,ID,Phone Number,Address,Email,Link,tokenized response,labels
0,\nJohn Shepherd was a man of many talents. At ...,John,Shepherd,jessicale,6163-4832,"3 Jennings Mews\nOdonnellchester, NSW, 2616",dsimmons@example.org,https://instagram/en/john_shepherd,"[John, Shepherd, was, a, man, of, many, talent...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
1,\nHolly Booth was a young woman from Moorevill...,Holly,Booth,lewismarie,(0121)4960367,279 Gerard glens\nMooreville\nSG85 9TP,lauren49@example.com,https://twitter/en/holly_booth,"[Holly, Booth, was, a, young, woman, from, Moo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
2,"\nAnthony Snyder was a man from Edwardsfort, T...",Anthony,Snyder,warrenkarla,9246-8743,"712 Herbert Cove\nEdwardsfort, TAS, 2385",lancestein@example.com,https://instagram/en/anthony_snyder,"[Anthony, Snyder, was, a, man, from, Edwardsfo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
3,553633 Michael Hammond is a man who works at J...,Michael,Hammond,colleenferrell,137-729-9655 x133,"038 Juan Valley\nNorth Valerie, BC M2N7M7",chapmanjoshua@example.net,https://facebook/en/michael_hammond,"[553633, Michael, Hammond, is, a, man, who, wo...","[O, B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O..."
4,687955 Damien Murray is a successful businessm...,Damien,Murray,victor23,(0191) 496 0898,67 Thompson ford\nBethanyview\nB0 9YH,bryan14@example.net,https://twitter/en/damien_murray,"[687955, Damien, Murray, is, a, successful, bu...","[O, B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O..."
...,...,...,...,...,...,...,...,...,...,...
95,\n Dara Ledwith was a successful businesswo...,Dara,Ledwith,susannah14,+1-900-574-5565x816,87 Duff Street X23 KAK9 Brooke Ville,marco06@example.org,https://twitter/en/dara_ledwith,"[Dara, Ledwith, was, a, successful, businesswo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
96,\nGrant McCloskey is a 37-year-old man from As...,Grant,McCloskey,guinnesscorrie,227.964.7591,05 Tiernan Street F39TF3N Ashlene Ville,quinnyseona@example.com,https://facebook/en/grant_mccloskey,"[Grant, McCloskey, is, a, 37, -, year, -, old,...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
97,\nKatherine Nelson was a 65-year-old woman who...,Katherine,Nelson,mary30,+44289018944,Flat 51\nFarrell lock\nLake Ruth\nB59 1AR,blackdominic@example.net,https://twitter/en/katherine_nelson,"[Katherine, Nelson, was, a, 65, -, year, -, ol...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
98,\n Allen Scott was a 26-year-old man from R...,Allen,Scott,gcarter,263 459 9936,"033 Paul Crest\nRebeccamouth, NU L8Y 2N1",nperez@example.net,https://facebook/en/allen_scott,"[Allen, Scott, was, a, 26, -, year, -, old, ma...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
99,\nAnna Davis was an 18 year old girl who lived...,Anna,Davis,kayla78,+1-502-802-3966x0356,"3374 Rios Ports Suite 109\nPatrickland, MT 90692",eric48@example.com,https://facebook/en/anna_davis,"[Anna, Davis, was, an, 18, year, old, girl, wh...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."

In [14]:
df1.iloc[0]['response']

"\nJohn Shepherd was a man of many talents. At 385016, he had already achieved much in his life. He was a successful businessman, with a thriving company that he had built from scratch. He was also an accomplished artist, with a passion for painting and drawing that had been with him since he was a child.\n\nBut despite all his successes, John remained humble and down-to-earth. He lived in a small apartment in Odonnellchester, NSW, and was known for his kind and generous nature. He was always willing to lend a helping hand to those in need, and was well-respected by his peers and neighbors alike.\n\nOne day, while browsing through Instagram, John stumbled upon a post from a fellow artist who had just completed a stunning piece of work. Intrigued, John clicked on the link in the post and was taken to the artist's website. There, he saw a beautiful painting that caught his eye, and he knew right away that he wanted to purchase it.\n\nWithout hesitation, John visited the artist's page on Instagram and sent a message expressing his interest in the painting. To his surprise, the artist responded almost immediately, and they began to communicate via email. Over the next few weeks, John and the artist exchanged messages and shared their work with each other. They quickly became fast friends, and soon realized that they had a lot in common.\n\nBoth John and the artist were passionate about art and creativity, and they spent hours discussing their favorite artists, techniques, and projects. They also talked about their personal lives and shared their struggles and triumphs. Through their conversations, John learned more about himself and the world around him, and he felt inspired to create even more art.\n\nAs time passed, John and the artist decided to collaborate on a project together. They worked tirelessly, combining their skills and ideas to create something truly unique and beautiful. The result was a stunning piece of art that showcased both their talents and their friendship.\n\nJohn was thrilled with the final product, and he knew that he would treasure it for the rest of his life. He also knew that he had made a true friend in the process, and that their collaboration had only just begun.\n\nIn the end, John's love of art and creativity had led him to"

In [15]:
final_df = df1[['tokenized response', 'labels']].copy()
final_df

,tokenized response,labels
0,"[John, Shepherd, was, a, man, of, many, talent...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
1,"[Holly, Booth, was, a, young, woman, from, Moo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
2,"[Anthony, Snyder, was, a, man, from, Edwardsfo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
3,"[553633, Michael, Hammond, is, a, man, who, wo...","[O, B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O..."
4,"[687955, Damien, Murray, is, a, successful, bu...","[O, B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O..."
...,...,...
95,"[Dara, Ledwith, was, a, successful, businesswo...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
96,"[Grant, McCloskey, is, a, 37, -, year, -, old,...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
97,"[Katherine, Nelson, was, a, 65, -, year, -, ol...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
98,"[Allen, Scott, was, a, 26, -, year, -, old, ma...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
99,"[Anna, Davis, was, an, 18, year, old, girl, wh...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."

In [ ]:
file_path = '100_gen_data.csv'
final_df.to_csv(file_path, index=False)

In [16]:
sample_tokens = final_df.iloc[0]['tokenized response']
sample_tokens

['John',
 'Shepherd',
 'was',
 'a',
 'man',
 'of',
 'many',
 'talents',
 '.',
 'At',
 '385016',
 ',',
 'he',
 'had',
 'already',
 'achieved',
 'much',
 'in',
 'his',
 'life',
 '.',
 'He',
 'was',
 'a',
 'successful',
 'businessman',
 ',',
 'with',
 'a',
 'thriving',
 'company',
 'that',
 'he',
 'had',
 'built',
 'from',
 'scratch',
 '.',
 'He',
 'was',
 'also',
 'an',
 'accomplished',
 'artist',
 ',',
 'with',
 'a',
 'passion',
 'for',
 'painting',
 'and',
 'drawing',
 'that',
 'had',
 'been',
 'with',
 'him',
 'since',
 'he',
 'was',
 'a',
 'child',
 '.',
 'But',
 'despite',
 'all',
 'his',
 'successes',
 ',',
 'John',
 'remained',
 'humble',
 'and',
 'down',
 '-',
 'to',
 '-',
 'earth',
 '.',
 'He',
 'lived',
 'in',
 'a',
 'small',
 'apartment',
 'in',
 'Odonnellchester',
 ',',
 'NSW',
 ',',
 'and',
 'was',
 'known',
 'for',
 'his',
 'kind',
 'and',
 'generous',
 'nature',
 '.',
 'He',
 'was',
 'always',
 'willing',
 'to',
 'lend',
 'a',
 'helping',
 'hand',
 'to',
 'those',
 'in',
 'need',
 ',',
 'and',
 'was',
 'well',
 '-',
 'respected',
 'by',
 'his',
 'peers',
 'and',
 'neighbors',
 'alike',
 '.',
 'One',
 'day',
 ',',
 'while',
 'browsing',
 'through',
 'Instagram',
 ',',
 'John',
 'stumbled',
 'upon',
 'a',
 'post',
 'from',
 'a',
 'fellow',
 'artist',
 'who',
 'had',
 'just',
 'completed',
 'a',
 'stunning',
 'piece',
 'of',
 'work',
 '.',
 'Intrigued',
 ',',
 'John',
 'clicked',
 'on',
 'the',
 'link',
 'in',
 'the',
 'post',
 'and',
 'was',
 'taken',
 'to',
 'the',
 'artist',
 "'",
 's',
 'website',
 '.',
 'There',
 ',',
 'he',
 'saw',
 'a',
 'beautiful',
 'painting',
 'that',
 'caught',
 'his',
 'eye',
 ',',
 'and',
 'he',
 'knew',
 'right',
 'away',
 'that',
 'he',
 'wanted',
 'to',
 'purchase',
 'it',
 '.',
 'Without',
 'hesitation',
 ',',
 'John',
 'visited',
 'the',
 'artist',
 "'",
 's',
 'page',
 'on',
 'Instagram',
 'and',
 'sent',
 'a',
 'message',
 'expressing',
 'his',
 'interest',
 'in',
 'the',
 'painting',
 '.',
 'To',
 'his',
 'surprise',
 ',',
 'the',
 'artist',
 'responded',
 'almost',
 'immediately',
 ',',
 'and',
 'they',
 'began',
 'to',
 'communicate',
 'via',
 'email',
 '.',
 'Over',
 'the',
 'next',
 'few',
 'weeks',
 ',',
 'John',
 'and',
 'the',
 'artist',
 'exchanged',
 'messages',
 'and',
 'shared',
 'their',
 'work',
 'with',
 'each',
 'other',
 '.',
 'They',
 'quickly',
 'became',
 'fast',
 'friends',
 ',',
 'and',
 'soon',
 'realized',
 'that',
 'they',
 'had',
 'a',
 'lot',
 'in',
 'common',
 '.',
 'Both',
 'John',
 'and',
 'the',
 'artist',
 'were',
 'passionate',
 'about',
 'art',
 'and',
 'creativity',
 ',',
 'and',
 'they',
 'spent',
 'hours',
 'discussing',
 'their',
 'favorite',
 'artists',
 ',',
 'techniques',
 ',',
 'and',
 'projects',
 '.',
 'They',
 'also',
 'talked',
 'about',
 'their',
 'personal',
 'lives',
 'and',
 'shared',
 'their',
 'struggles',
 'and',
 'triumphs',
 '.',
 'Through',
 'their',
 'conversations',
 ',',
 'John',
 'learned',
 'more',
 'about',
 'himself',
 'and',
 'the',
 'world',
 'around',
 'him',
 ',',
 'and',
 'he',
 'felt',
 'inspired',
 'to',
 'create',
 'even',
 'more',
 'art',
 '.',
 'As',
 'time',
 'passed',
 ',',
 'John',
 'and',
 'the',
 'artist',
 'decided',
 'to',
 'collaborate',
 'on',
 'a',
 'project',
 'together',
 '.',
 'They',
 'worked',
 'tirelessly',
 ',',
 'combining',
 'their',
 'skills',
 'and',
 'ideas',
 'to',
 'create',
 'something',
 'truly',
 'unique',
 'and',
 'beautiful',
 '.',
 'The',
 'result',
 'was',
 'a',
 'stunning',
 'piece',
 'of',
 'art',
 'that',
 'showcased',
 'both',
 'their',
 'talents',
 'and',
 'their',
 'friendship',
 '.',
 'John',
 'was',
 'thrilled',
 'with',
 'the',
 'final',
 'product',
 ',',
 'and',
 'he',
 'knew',
 'that',
 'he',
 'would',
 'treasure',
 'it',
 'for',
 'the',
 'rest',
 'of',
 'his',
 'life',
 '.',
 'He',
 'also',
 'knew',
 'that',
 'he',
 'had',
 'made',
 'a',
 'true',
 'friend',
 'in',
 'the',
 'process',
 ',',
 'and',
 'that',
 'their',
 'collaboration',
 'had',
 'only',
 'just',
 'begun',
 '.',
 'In',
 'the',
 'end',
 ',',
 'John',
 "'",
 's',
 'love',
 'of',
 'art',
 'and',
 'creativity',
 'had',
 'led',
 'him',
 'to']

In [17]:
sample_labels = final_df.iloc[0]['labels']
sample_labels

['B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O']

In [18]:
for token, label in zip(sample_tokens, sample_labels):
    print(token, label)

John B-NAME_STUDENT
Shepherd I-NAME_STUDENT
was O
a O
man O
of O
many O
talents O
. O
At O
385016 O
, O
he O
had O
already O
achieved O
much O
in O
his O
life O
. O
He O
was O
a O
successful O
businessman O
, O
with O
a O
thriving O
company O
that O
he O
had O
built O
from O
scratch O
. O
He O
was O
also O
an O
accomplished O
artist O
, O
with O
a O
passion O
for O
painting O
and O
drawing O
that O
had O
been O
with O
him O
since O
he O
was O
a O
child O
. O
But O
despite O
all O
his O
successes O
, O
John B-NAME_STUDENT
remained O
humble O
and O
down O
- O
to O
- O
earth O
. O
He O
lived O
in O
a O
small O
apartment O
in O
Odonnellchester O
, O
NSW O
, O
and O
was O
known O
for O
his O
kind O
and O
generous O
nature O
. O
He O
was O
always O
willing O
to O
lend O
a O
helping O
hand O
to O
those O
in O
need O
, O
and O
was O
well O
- O
respected O
by O
his O
peers O
and O
neighbors O
alike O
. O
One O
day O
, O
while O
browsing O
through O
Instagram O
, O
John B-NAME_STUDENT
stumbled O
upon O
a O
post O
from O
a O
fellow O
artist O
who O
had O
just O
completed O
a O
stunning O
piece O
of O
work O
. O
Intrigued O
, O
John B-NAME_STUDENT
clicked O
on O
the O
link O
in O
the O
post O
and O
was O
taken O
to O
the O
artist O
' O
s O
website O
. O
There O
, O
he O
saw O
a O
beautiful O
painting O
that O
caught O
his O
eye O
, O
and O
he O
knew O
right O
away O
that O
he O
wanted O
to O
purchase O
it O
. O
Without O
hesitation O
, O
John B-NAME_STUDENT
visited O
the O
artist O
' O
s O
page O
on O
Instagram O
and O
sent O
a O
message O
expressing O
his O
interest O
in O
the O
painting O
. O
To O
his O
surprise O
, O
the O
artist O
responded O
almost O
immediately O
, O
and O
they O
began O
to O
communicate O
via O
email O
. O
Over O
the O
next O
few O
weeks O
, O
John B-NAME_STUDENT
and O
the O
artist O
exchanged O
messages O
and O
shared O
their O
work O
with O
each O
other O
. O
They O
quickly O
became O
fast O
friends O
, O
and O
soon O
realized O
that O
they O
had O
a O
lot O
in O
common O
. O
Both O
John B-NAME_STUDENT
and O
the O
artist O
were O
passionate O
about O
art O
and O
creativity O
, O
and O
they O
spent O
hours O
discussing O
their O
favorite O
artists O
, O
techniques O
, O
and O
projects O
. O
They O
also O
talked O
about O
their O
personal O
lives O
and O
shared O
their O
struggles O
and O
triumphs O
. O
Through O
their O
conversations O
, O
John B-NAME_STUDENT
learned O
more O
about O
himself O
and O
the O
world O
around O
him O
, O
and O
he O
felt O
inspired O
to O
create O
even O
more O
art O
. O
As O
time O
passed O
, O
John B-NAME_STUDENT
and O
the O
artist O
decided O
to O
collaborate O
on O
a O
project O
together O
. O
They O
worked O
tirelessly O
, O
combining O
their O
skills O
and O
ideas O
to O
create O
something O
truly O
unique O
and O
beautiful O
. O
The O
result O
was O
a O
stunning O
piece O
of O
art O
that O
showcased O
both O
their O
talents O
and O
their O
friendship O
. O
John B-NAME_STUDENT
was O
thrilled O
with O
the O
final O
product O
, O
and O
he O
knew O
that O
he O
would O
treasure O
it O
for O
the O
rest O
of O
his O
life O
. O
He O
also O
knew O
that O
he O
had O
made O
a O
true O
friend O
in O
the O
process O
, O
and O
that O
their O
collaboration O
had O
only O
just O
begun O
. O
In O
the O
end O
, O
John B-NAME_STUDENT
' O
s O
love O
of O
art O
and O
creativity O
had O
led O
him O
to O